<h1>New Advertisement</h1>


<div class="row">
  <div class="col-md-4">
    <p>Guidelines for advertising</p>
    <ul>
      <li>Make sure it grabs the readers attention.</li>
      <li>Don't use the letter "A".</li>
      <li>The incessant use of hashtags or advertising of the Chicago Bears will get you banned.</li>
    </ul>
  </div>
  
  <div class="col-md-8">
    <%= form_for @advertisement do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter ad title" %>
      </div>
      <div class="form-group">
        <%= f.label :copy %>
        <%= f.text_area :copy , rows: 8, class: 'form-control', placeholder: "Enter post ad description" %>
      </div>
      <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: 'form-control', placeholder: "For some reason we let you choose you price" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>